body {
    display: flex;
    justify-content: center;
    position: relative;
    background-color:black;
}

#container {
    display: grid;
    position: absolute;
    top: 50%;
    height: 480px;
    width: 480px;
    margin-top: 40px;
    border: 40px solid red;
    border-radius: 10px;
    background-color: white;
 }

.button {
    margin-left: 15px;
    height: 20px;
    width: 150px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    background-color: lightyellow;
}

.button:hover {
    border-color: yellow;
    background-color: white;
}