body {
    display: flex;
    justify-content: center;
    position: relative;
}

#container {
    display: grid;
    position: absolute;
    top: 50%;
    height: 480px;
    width: 480px;
    margin-top: 50px;
    border: 1px solid black;
 }

.add-color {
    background-color: black;
}